@model Scrum.Models.Sprint

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sprint Details</h2>
<h3>@Model.Name</h3>
<h3>@Model.Goal</h3>
<h3>@Model.StartDate</h3>
<h3>@Model.EndDate</h3>

@using (Html.BeginForm())
{
    @Html.DropDownList("TaskId")
    <input type="submit" value="AddTask" />
}

@foreach(var task in Model.Tasks)
{
    <div class="done-@task.Complete">
        <p>@Html.ActionLink(@task.Description, "Details", "Tasks", new { id = @task.TaskId })</p>
    </div>
}

<p>@ViewBag.Current</p>

<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar"
         aria-valuenow="@ViewBag.Current" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.Current%">
        @ViewBag.Current% Complete
    </div>
</div>