<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Scrum</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
    <link href="~/css/Main/Main.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#register').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("Register")',
                    success: function (result) {
                        $('#accessForm').html(result);
                    }
                });
            });

            $('#login').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("Login")',
                    success: function (result) {
                        $('#accessForm').html(result);
                    }
                });
            });
            $('.new-project').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("NewProject")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        var resultMessage = 'You Created a new Project';
                        $('#projectConfirm').html(resultMessage);
                    }
                });
            });
            $('.addStory').click(function () {
                clicked = $(this)[0].id;
                clicked = parseInt(clicked);
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {id : clicked},
                    url: '@Url.Action("Create","UserStories")',
                    success: function (result) {
                        $('#storyForm').html(result);
                    }
                });
            });
            $('.createSprint').click(function () {
                clicked = $(this)[0].id;
                clicked = parseInt(clicked);
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { id: clicked },
                    url: '@Url.Action("Create","Sprints")',
                    success: function (result) {
                        $('#sprintForm').html(result);
                    }
                });
            });
            $('.editTaskForm').click(function () {
                clicked = $(this)[0].id;
                clicked = parseInt(clicked);
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: { id: clicked },
                    url: '@Url.Action("Edit", "Tasks")',
                    success: function (result) {
                        $('#editTask').html(result);
                    }
                });
            });
        });
    </script>

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
            <div class="uk-navbar-item">

            </div>
            <div class="uk-navbar-item">
                <div><a asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></div>
            </div>
            <div class="uk-navbar-item">
                <div><a asp-area="" asp-controller="Tools" asp-action="Index">Toolbox</a></div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="uk-offcanvas-content">

            <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary">Primary Nav</button>

            <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column">

                    <ul class="uk-nav uk-nav-primary uk-nav-center">
                        <li class="uk-parent"><a asp-area="" asp-controller="Account" asp-action="Index">Home</a></li>
                        <li class="uk-parent"><a asp-area="" asp-controller="Projects" asp-action="Index">All Projects</a></li>
                        <li class="uk-parent"><a asp-area="" asp-controller="Tools" asp-action="Index">Toolbox</a></li>
                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
