@model Scrum.Models.Project

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project Details</h2>

<p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
<p>@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)</p>
<p>@Html.ActionLink("Add an Update", "Create", "Updates", new { id = Model.ProjectId })</p>

<h3>Project Updates/Comments:</h3>
@foreach (var update in Model.Updates)
{
    <p>@update.Note</p>

}

@Html.ActionLink("Back to List", "Index")</p>