@model Scrum.Models.Project
<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
    <link href="~/css/Projects/Detail.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
</head>
<body>
    <div uk-grid>
        <div class="uk-width-3-4 projectInfo">
            <div class="uk-card uk-card-default uk-card-body">
                <h1 class="uk-heading-line uk-text-center"><span>@Model.Title</span></h1>
                <p>@Model.Description</p>
                <p>
                    <div class="uk-offcanvas-content">
                        <div class="uk-text-center">
                            <button type="button" class="addTask uk-button uk-button-secondary" id="@Model.ProjectId"><i class="fa fa-plus " aria-hidden="true"></i></button>

                            <button class="uk-button uk-button-secondary uk-margin-small-center " type="button" uk-toggle="target: #offcanvas-nav-stuff"><i class="fa fa-wrench uk-text-large" style="font-size: 20px;" aria-hidden="true"></i></button>

                            <div id="offcanvas-nav-stuff" uk-offcanvas="flip: true; overlay: true">
                                <div class="uk-offcanvas-bar uk-flex uk-flex-column">

                                    <h2>Assigned to You @ViewBag.CurrentUser</h2>
                                    <table class="uk-table uk-table-justify uk-table-divider">
                                        <thead>
                                            <tr>
                                                <th class="uk-width-small">Task</th>
                                                <th>Status</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var task in @ViewBag.Tasks)
                                            {
                                                <tr>
                                                    <td>@task.Description</td>
                                                    <td>
                                                        @if (@task.Complete)
                                                        {
                                                            <i class="fa fa-check" aria-hidden="true" style="font-size: 30px; color: green;"></i>
                                                        }
                                                        @if (!@task.Complete)
                                                        {
                                                            <i class="fa fa-times" aria-hidden="true" style="font-size: 30px; color: tomato;"></i>
                                                        }
                                                    </td>
                                                    <td><button class="uk-button view" type="button">@Html.ActionLink("Work", "Details", "Tasks", new { id = @task.TaskId })</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="taskForm"></div>
                </p>
           </div>
        </div>
        <div class="uk-width-1-4 teamInfo">
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-text-center">
                    <h2 class="uk-heading-line"><span>Team</span></h2>
                    @foreach (var member in @ViewBag.Team)
                    {
                        <p class="uk-text-center"><i class="fa fa-user" aria-hidden="true"></i> @member</p>
                    }
                    <p>
                        <button type="button" class="uk-button uk-button-secondary addTeamMember uk-text-center" id="@Model.ProjectId"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </p>
                </div>
                <div id="userForm"></div>
            </div>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
                <ul class="uk-subnav uk-subnav-pill uk-text-center" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">User Stories</a></li>
                    <li><a href="#">Tools</a></li>
                </ul>

                <ul class="uk-switcher uk-margin">
                    <li>
                        <div class="uk-text-center">
                            <button type="button" class="createUpdate uk-button uk-button-secondary" id="@Model.ProjectId"><i class="fa fa-plus " aria-hidden="true"></i></button>
                        </div>
                        <div id="createForm"></div>
                        <br />
                        <br />  
                        @foreach (var update in @ViewBag.Updates)
                        {
                            @if (@update.UpdateType.Name == "Beef")
                            {
                                <article class="uk-comment uk-comment-primary uk-background-cover" style="background-color: #FF9999">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="~/images/download.jpg" width="30" height="30" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove uk-text-small"><a class="uk-link-reset" href="#">@update.User</a></h4>
                                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li style="color: black;">@update.TimeStamp</li>
                                                <li><i class="fa fa-thumbs-down" aria-hidden="true" style="color: black; font-size: 20px;"></i></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p style="color: black;">@update.Note</p>
                                    </div>
                                </article>
                            }
                            @if (@update.UpdateType.Name == "Change")
                            {
                                <article class="uk-comment uk-comment-primary uk-background-cover" style="background-color: lightyellow">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="~/images/download.jpg" width="30" height="30" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove uk-text-small"><a class="uk-link-reset" href="#">@update.User</a></h4>
                                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li style="color: black;">@update.TimeStamp</li>
                                                <li><i class="fa fa-scissors uk-text-large" aria-hidden="true" style="color: black; font-size: 20px;"></i></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p style="color: black;">@update.Note</p>
                                    </div>
                                </article>
                            }
                            @if (@update.UpdateType.Name == "Note")
                            {
                                <article class="uk-comment uk-comment-primary uk-background-cover" style="background-color: aliceblue">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="~/images/download.jpg" width="30" height="30" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove uk-text-small"><a class="uk-link-reset" href="#">@update.User</a></h4>
                                            <ul class="uk-comment-lead uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li style="color: black;">@update.TimeStamp</li>
                                                <li><i class="fa fa-comment" aria-hidden="true" style="color: black; font-size: 20px;"></i></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p style="color: black;">@update.Note</p>
                                    </div>
                                </article>
                            }
                            <br />
                        }
                    </li>
                    <li>
                        <ul class="uk-list uk-list-striped">
                            @foreach (var story in Model.UserStories)
                            {
                                <li>@story.Spec</li>
                            }
                        </ul>
                        <div class="uk-text-center">
                            <button type="button" class="uk-button uk-button-secondary addStory" id="@Model.ProjectId"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                        <div id="storyForm"></div>
                    </li>
                    <li>
                        @foreach (var join in @ViewBag.ProjectTools)
                        {
                            <p>@join.Tool.Name</p>
                        }
                        <div class="uk-text-center">
                            <h3>Add New Tool</h3>
                            @using (Html.BeginForm())
                            {
                                @Html.DropDownList("ToolId")
                                <input type="submit" value="Add Tool" class="uk-button uk-button-secondary" aria-hidden="true"/>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default uk-card-body">
                <h2 class="uk-heading-line uk-text-center"><span>Sprints</span></h2>
                <div class="progress">
                    @foreach (var data in @ViewBag.SprintCollection)
                    {
                        @if (@data.Total >= 1 && @data.Total <= 10)
                        {
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@data.Total%; border:solid 1px black; background-color: #FF9999; color: black;">
                                @data.Name
                            </div>
                        }
                        @if (@data.Total >= 11 && @data.Total <= 29)
                        {
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:@data.Total%; border:solid 1px black; background-color: lightyellow; color: black;">
                                @data.Name
                            </div>
                        }
                        @if (@data.Total >= 30 && @data.Total <= 69)
                        {
                            <div class="progress-bar progress-bar-info" role="progressbar" style="width:@data.Total%; border:solid 1px black; background-color: aliceblue; color: black;">
                                @data.Name
                            </div>
                        }
                        @if (@data.Total >= 70 && @data.Total <= 100)
                        {
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:@data.Total%; border:solid 1px black; background-color: green; color: black;">
                                @data.Name
                            </div>
                        }
                    }
                </div>
                <table class="uk-table uk-table-justify uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-width-small">Sprint</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Jump</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sprint in @ViewBag.Sprints)
                        {
                            <tr>
                                <td>@sprint.Name</td>
                                <td>@sprint.StartDate</td>
                                <td>@sprint.EndDate</td>
                                <td><button class="uk-button uk-button-default view" type="button" style="color: black;">@Html.ActionLink("View", "Details", "Sprints", new { id = sprint.SprintId })</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="uk-text-center">
                    <button type="button" class="createSprint uk-button uk-button-secondary" id="@Model.ProjectId"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <div id="sprintForm"></div>
            </div>
        </div>
    </div>
    <p>@Html.ActionLink("Back to List", "Index")</p>
</body>
</html>