@model Scrum.Models.Task

@{
    ViewData["Title"] = "Task - Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Details</h2>

<p>@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Priority) : @Html.DisplayFor(model => model.Priority)</p>
<p>@Html.DisplayNameFor(model => model.Complete) : @Html.DisplayFor(model => model.Complete)</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TaskId)
    <input type="submit" value="Completed" />
}

<button type="button" class="editTaskForm" id="@Model.TaskId">Edit This Task</button>
<div id="editTask"></div>

<p>@Html.ActionLink("Delete", "Delete", "Tasks", new { id = Model.TaskId })</p>
<p>@Html.ActionLink("Assign", "Assign", "Tasks", new { id = Model.TaskId })</p>
